{% load activeurl %}

<nav class="navbar navbar- navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"
            {% if user.is_authenticated %}
       href="{% url 'article:article_admin_list' %}"
            {% else %}
       href="{% url 'core:index' %}"
            {% endif %}
    >
        <i class="fab fa-python"></i>
        DjBlog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% activeurl %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_list' %}">
                        <i class="far fa-newspaper"></i>
                        Postagens
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'article:article_admin_list' %}">
                            <i class="fas fa-pen-nib"></i>
                            Gerenciar
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endactiveurl %}

        {% activeurl %}
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:account' %}"
                           data-toggle="tooltip" data-html="true" title="Editar Usuário {{ user.email }}">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/"
                           data-toggle="tooltip" data-html="true" title="Entrar no Admin">
                            <i class="fas fa-cogs"></i>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% if not user.is_authenticated %}
                        <a class="nav-link" href="{% url 'account:login' %}"
                           data-toggle="tooltip" data-html="true" title="Entrar no DjBlog">
                            <i class="fa fa-sign-in"></i>
                            Entrar
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'accounts:logout' %}"
                           data-toggle="tooltip" data-html="true" title="Sair do DjBlog">
                            <i class="fa fa-sign-out"></i>
                            Sair
                        </a>
                    {% endif %}
                </li>
            </ul>
        {% endactiveurl %}

    </div>
</nav>