{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <title>DjBlog</title>

    <link href="{% static 'assets/bootstrap4.0/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>


{% include 'includes/navbar.html' %}

<main role="main" class="container pt-5">
    {% block content %}
    {% endblock content %}
</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/jquery-3.2.1/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap4.0/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/holder.min.js' %}"></script>

</body>
</html>
