{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>DjBlog</title>

    <script src="{% static 'fonts/35c71fb786.js' %}" crossorigin="anonymous"></script>
    <link href="{% static 'assets/bootstrap4.0/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

{% include 'includes/navbar.html' %}

{% bootstrap_messages %}

<main role="main" class="container pt-3">

    {% block content %}
    {% endblock content %}
</main>


<script src="{% static 'assets/jquery-3.2.1/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap4.0/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/holder.min.js' %}"></script>
<script src="{% static 'assets/jquery-mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
