{% load bootstrap4 %}

<form method="post" action="{% url 'book:book_update' form.instance.pk %}" class="js-book-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Edit a book</h4>
    </div>
    <div class="modal-body">
        {% bootstrap_form form %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Edit a book</button>
    </div>
</form>