{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron">
                <h1 class="display-4"><i class="fab fa-python"></i> DjBlog</h1>
                <p class="lead">Cadastro Realizado com Sucesso!</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="{% url 'account:login' %}" role="button">
                    <i class="fa fa-sign-in"></i>
                    Entrar
                </a>
            </div>
        </div>
    </div>

{% endblock content %}