{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                <i class="fas fa-user"></i>
                Editar dados pessoais
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% bootstrap_form_errors form %}
            <form action="" method="post" class="form-control">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-user"></i>
                    Enviar
                </button>
            </form>
        </div>
    </div>

{% endblock content %}