{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                <i class="fas fa-pen-nib"></i>
                Gerenciar Postagens
            </h1>
            <hr>


            {% include 'article/search_form.html' %}


            <p class="pt-4">
                <a href="{% url 'article:article_create' %}" role="button"
                   class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    Nova Postagem
                </a>
            </p>

            <table class="table table-outline table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Criado</th>
                    <th scope="col">Alterado</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'article:article_detail' obj.slug %}">
                                {{ obj.title }}
                            </a>
                        </td>
                        <td>
                            {% if obj.active %}
                                <i class="fas fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fas fa-times-circle text-danger"></i>
                            {% endif %}

                        </td>
                        <td>{{ obj.created|date:'d/m/Y G:i:s' }}</td>
                        <td>{{ obj.updated|date:'d/m/Y G:i:s' }}</td>
                        <td>
                            <a href="{% url 'article:article_detail' obj.slug %}" role="button"
                               class="btn btn-info">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="{% url 'article:article_update' obj.slug %}" role="button"
                               class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'article:article_delete' obj.slug %}" role="button"
                               class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% bootstrap_pagination page_obj extra='v='|add:v %}
        </div>
    </div>
{% endblock %}

