{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if not object %}
                    <i class="fa fa-plus"></i>
                    Nova Postagem:
                {% else %}
                    <i class="fa fa-edit"></i>
                    Editar Postagem:
                {% endif %}
            </h1>
            <small>
                {{ object }}
            </small>
            <hr>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            {% bootstrap_form_errors form %}
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">
                    {% if not object %}
                        <i class="fa fa-plus"></i>
                        Criar
                    {% else %}
                        <i class="fa fa-edit"></i>
                        Editar
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
